<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379090905616-1on77apskssdc97lgqt29glitvbhdbbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379090905616-1on77apskssdc97lgqt29glitvbhdbbu</string>
	<key>API_KEY</key>
	<string>AIzaSyBqnzNPRm8h35sLNCEIgD-jGoRGiVZWmlc</string>
	<key>GCM_SENDER_ID</key>
	<string>379090905616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryWebapp</string>
	<key>PROJECT_ID</key>
	<string>diar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>diar-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379090905616:ios:309f6eab42e4ae4ef43895</string>
</dict>
</plist>